{% extends "base.html" %}
{% load user_filters %}
{% block content %}
    <div class="row justify-content-center">
        <div class="col-md-8 p-5">
            <div class="card">
                <div class="card-header text-center"><strong>Добавить заказ</strong></div>
                <div class="card-body p-5">
                    <div class="alert alert-danger" role="alert">
                        {{ items_formset.non_form_errors }}
                    </div>
                    <form method="post">
                        {% csrf_token %}
                        {{ order_form.as_p }}
                        {% for field in order_form %}
                            {{ items_formset.as_p }}
                        {% endfor %}
                        <button type="submit" class="btn btn-primary">Сохранить</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
{% endblock %}