{% extends "base.html" %}
{% load user_filters %}
{% block content %}
    <div class="row justify-content-center">
        <div class="col-md-8 p-5">
            <div class="card text-center">
                <div class="card-header">Подтверждение удаления</div>
                <div class="card-body p-5">
                    <h5 class="card-title">Вы уверены, что хотите удалить заказ?</h5>

                </div>
                <div class="card-footer">
                    <div class="row">
                        <div class="col">
                            <a href="{% url 'orders:order' order.id %}" class="btn btn-secondary">Отмена</a>
                        </div>
                        <div class="col">
                            <form method="post"
                                  id="delete_order_form{{ order.id }}"
                                  action="{% url 'orders:delete_order' order.id %}">
                                {% csrf_token %}
                                <button type="submit" class="btn btn-danger">
                                    Удалить
                                </button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}