{% extends "base.html" %}
{% block title %} Заказ для столика {{ order.table_number }} {% endblock %}
{% block header %}{% endblock %}
{% block content %}


<div class="container">
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="{% url 'orders:index' %}">Заказы</a></li>
            <li class="breadcrumb-item active" aria-current="page">{{ order.id }}</li>
        </ol>
    </nav>

<div class="card">
  <h5 class="card-header">Заказ для столика {{ order.table_number }}</h5>
  <div class="card-body">
    <h5 class="card-title">Special title treatment</h5>
    <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
    <a href="{% url 'orders:delete_order' order.id %}">{{ order.id }} class="btn btn-danger" role="button">Удалить заказ</a>
      <a href="#" class="btn btn-primary">Изменить статус заказа</a>
  </div>
</div>


    {% endblock %}
</div>