{% extends "base.html" %}
{% block header %}
    {% load static %}
    <div class="container my-5">
        <div class="row p-4 pb-0 pe-lg-0 pt-lg-5 align-items-center rounded-3 border shadow-lg">
            <div class="col-lg-7 p-3 p-lg-5 pt-lg-3">
                <h1 class="display-4 fw-bold lh-1">Расчет выручки в разрезе статусов заказов</h1>
            </div>

            <div class="col-lg-4 offset-lg-1 p-0 overflow-hidden shadow-lg">
                <img class="rounded-lg-3" src="{% static 'images/index.jpg' %}" alt="" width="720">
            </div>
        </div>
    </div>

{% endblock %}
{% block content %}
    {% load thumbnail %}
    <div class="album py-5 bg-light">
    <div class="container">
        <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">

            <table class="table table-striped">
                <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Статус заказа</th>
                    <th scope="col">Общее количество заказов</th>
                    <th scope="col">Общая сумма заказов</th>
                </tr>

                </thead>

                <tbody>
                {% for order in page %}
                    <tr>
                        <th scope="row">1</th>
                        <td>{{ order.status }}</td>
                        <td>{{ order.total_count }}</td>
                        <td>{{ order.total_sum }}</td>

                    </tr>
                {% endfor %}
                </tbody>
            </table>

        </div>
    </div>

    {% if page.has_other_pages %}
        {% include "includes/paginator.html" with items=page paginator=paginator %}
    {% endif %}
{% endblock %}

</div>

